/* Colors and font styles */

/* HERO AND FOOTER

dark background color: #1F2937;

*/

/* HERO MAIN TEXT ("This website is awesome")

font-size: 48px;
font-weight: extra-bold;
color: #F9FAF8;


* HERO SECONDARY TEXT *
18px #E5E7EB;

* HEADER LOGO TEXT *
24px #F9FAF8;


* BUTTON COLOR, CALL TO ACTION *
background-color: #3882F6;

* INFORMATION HEADER TEXT *
font-size: 36px;
font-weight: extra-bold;
color: #1F2937;


* QUOTE SECTION BACKGROUND COLOR *
background-color: #E5E7EB;

* QUOTE TEXT *
font-size: 36px;
font-style: light italic;
color: #1F2937

*/



