/* Colors and font styles */

/* HERO AND FOOTER

dark background color: #1F2937;

*/

/* HERO MAIN TEXT ("This website is awesome")

font-size: 48px;
font-weight: extra-bold;
color: #F9FAF8;


* HERO SECONDARY TEXT *
18px #E5E7EB;

* HEADER LOGO TEXT *
24px #F9FAF8;


* BUTTON COLOR, CALL TO ACTION *
background-color: #3882F6;

* INFORMATION HEADER TEXT *
font-size: 36px;
font-weight: extra-bold;
color: #1F2937;


* QUOTE SECTION BACKGROUND COLOR *
background-color: #E5E7EB;

* QUOTE TEXT *
font-size: 36px;
font-style: light italic;
color: #1F2937

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/*****************************/
/** HEADER SECTION **/
/*****************************/

.container {
    background: #1F2937;
    padding: 12px 20%;
    margin: 0 auto;
}

.top {
    display: flex;
    align-items: center;
}

.head-text {
    color: #F9FAF8;
    font-size: 18px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 14px;
}

.hero {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15%;
    align-items: center;
    gap: 20px;
}

.hero-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 8px;
}

.hero-main {
    font-size: 40px;
    color: #F9FAF8;
    font-weight: 700;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: #F9FAF8;
    border-style: none;
}

/* img {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    height: auto;
} */

.placeholder {
    background-color: grey;
    padding: 100px 150px;
    display: flex;
    flex: initial;
    flex-basis: 50%;
    justify-content: center;
}


/*****************************/
/** INFO SECTION **/
/*****************************/

.information-container {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    padding-bottom: 160px;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    font-size: 28px;
    font-weight: 700;
}

.info-boxes {
    display: flex;
    gap: 60px;
}

.info-box img {
    border: 4px solid #43cef5;
    border-radius: 10px;
    max-width: 100%;
}

.info-box p {
    text-align: center;
    padding-top: 8px;

}


/*****************************/
/** TESTIMONIAL SECTION **/
/*****************************/

.testimonial {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 8% 25%;
}

blockquote {
    font-size: 30px;
    font-weight: lighter;
    font-style:italic;
    display: flex;
    align-content: center;
}

.thor {
    align-self: flex-end;
    font-weight: 700;
    font-size: 22px;
    padding: 12px;
}


/*****************************/
/** CTA SECTION **/
/*****************************/

/* #3882f6; */

.cta-container {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
    margin: 100px 250px;
}

.cta-message {
    color: #F9FAF8;
}

.cta-button {
    /* width: 100px; */
    padding: 8px 30px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
}


/*****************************/
/** FOOTER **/
/*****************************/

.foot {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 35px;
}